* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	);
	background-color: #E5E4E2;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	width: 100%;
}

/* Buttons */
.button {
	position: relative;
	top: 2%;
	left: 10%;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 12px;
	margin: auto;
	cursor: pointer;
}

.buttonGreen {
	position: absolute;
	background-color: #00FF00;
	color: azure;
	top: 5%;
}

.buttonRed {
	position: absolute;
	background-color: #FF0000;
	color: black;
	font-weight: 600;
	top: 12%;
}

.buttonYellow {
	position: absolute;
	background-color: #FFFF00;
	color: black;
	font-weight: 600;
	top: 19%;
}

.buttonMap {
	position: absolute;
	background-color: #899abc;
	color: #0000DF;
	top: 50%;
	left: 40%;
	font-size: 20px;
	font-weight: bold;
}


	.buttonMap:hover {
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}

/* Portrait layout (default) */
.app {
	background-color: #E5E4E2; /* 170px x 200px  300 x 300 */
	position: absolute; /* position in the center of the screen */
	left: 50%;
	top: 50%;
	height: 40px; /* text area height */
	width: 200px; /* text area width */
	text-align: center;
	padding: 10px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
	margin: 0px 0px 0px -112px; /* offset vertical: half of image height and text area height */
	/* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
	.app {
		background-position: left center;
		padding: 0px 0px 10px 0px; /* padding-top + padding-bottom + text area = image height */
		margin: 0px 0px 0px 0px px; /* offset vertical: half of image height */
		/* offset horizontal: half of image width and text area width */
	}
}

h1 {
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	overflow: visible;
	padding: 0px;
	text-align: center;
}

.event {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #FFFFFF;
	font-size: 12px;
	margin: 0px 30px;
	padding: 2px 0px;
}

	.event.listening {
		background-color: #333333;
		display: block;
	}

	.event.received {
		background-color: #4B946A;
		display: none;
	}

@keyframes fade {
	from {
		opacity: 1.0;
	}

	50% {
		opacity: 0.4;
	}

	to {
		opacity: 1.0;
	}
}

@-webkit-keyframes fade {
	from {
		opacity: 1.0;
	}

	50% {
		opacity: 0.4;
	}

	to {
		opacity: 1.0;
	}
}

.blink {
	animation: fade 3000ms infinite;
	-webkit-animation: fade 3000ms infinite;
}
